body {
    margin: 0;
    padding: 0;
}

.kalender {
    border: solid black 5px;
    max-height: 600vh;

}



.frame {
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 80px;
    font-family: sans-serif;
}


.fd {
    display: flex;
    width: 100%;
    border-top: solid 5px black;
    margin: 0;

}

.tag {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.527);
    border: 1px solid black;
    text-align: center;
    font-size: 3em;
    justify-content: center;
    align-items: center;

}

h6 {
    margin: 0;
    font-family: ;
    font-size: 1em;
}

.fh {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);

}

.zahl {

    padding-right: 25px;
    height: 200px;
    border: 1px solid black;
    text-align: right;
    font-size: 3em;

}

.comercial {
    height: 200px;
    text-align: center;
}

p {
    font-size: 5em;
}